
#lightbox-module {
    background: none repeat scroll 0 0 #000000 !important;
    left: 0 !important;
    min-height: 100% !important;
    min-width: 100% !important;
    opacity: 0;
    position: fixed !important;
    top: 0 !important;
    z-index: 9300 !important;
}
#lightbox-panel-module {
    background: none repeat scroll 0 0 #FFFFFF !important;
    border: 2px solid #CCCCCC !important;
    color: #111111;
    display: none;
    *padding-bottom: 7px !important;
    font-family: Verdana,Arial,sans-serif;
    line-height: 1.345;
    padding: 17px !important;
    position: fixed !important;
    z-index: 9350 !important;
}
#lightbox-image-caption {
    background-color: #CCCCCC;
    float: left;
    font-style: italic;
    margin-bottom: 8px;
    padding: 4px;
    width: 100%;
}
#lightbox-image-placeholder img {
    margin: 0 0 7px !important;
}
#lightbox-image-container {
    overflow: hidden;
}
#lightbox-image-container input {
    background: none repeat scroll 0 0 #F3F5F6;
    border: 1px solid #000000;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 22px;
    margin-right: 0 !important;
    padding: 1px 10px 2px;
}
#lightbox-image-container input:hover {
    background-color: #767676;
    color: #FFFFFF;
}
#nav2ndlevel #func_balk_home .nav2ndlevel {
	width: 554px !important;
}
#nav2ndlevel .func_balk {
	margin-left: 26px !important;
	width: 889px !important;
}
#nav2ndlevel .func_balk .sitefuncties {
	padding-right: 14px !important;
}
.n_nieuws-wrapper {
    background-color: #FFFFFF;
    border: 1px solid #E3EEE8;
    margin-bottom: 15px;
    overflow: hidden;
	*padding-bottom: 10px;
    padding-bottom: 10px;
    width: 586px;
}
.n_highlight {
    display: block;
    float: left;
    padding-left: 7px;
    width: 290px;
}
.n_highlight ul {
    list-style: none inside none;
    margin-left: 0;
    padding-left: 0;
}
.n_headline a {
    width: 260px;
}
.n_headlines {
    float: left;
    padding-left: 8px;
    padding-right: 6px;
    width: 275px;
}
.n_headlines ul {
    list-style: none inside none;
    margin-left: 0;
    padding-left: 0;
}
.n_highlight .n_headline {
	*padding-left: 16px !important;
}
.n_headline {
	-moz-hyphens: auto;
	line-height: 150%;
	padding-left: 16px;
	*padding-left: 8px;
	margin-bottom: 8px;
	margin-left: 0px;
	word-wrap: break-word;
	background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0 3px;
	background-color: transparent;
}
.n_highlight .n_headline {
    float: left;
}
.oldBackgroundOverview {
    background: url("/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif") no-repeat scroll 0 3px rgba(0, 0, 0, 0);
    padding-left: 16px;
}
.n_headline-wrapper {
    display: inline-block;
    width: 253px;
    padding-left: 8px;
   	padding-left: 7px\0;
   	*padding-left: 0px;
}
.n_headline-overview-wrapper {
    display: inline-block;
    width: 100%;
}
a:link, a:visited {
    color: #154273;
    text-decoration: none;
}
.n_column-footer {
    color: #164273 !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.n_column-footer:focus, .n_column-footer:hover {
	text-decoration: none !important;
	color: #010101 !important;
}
.n_headline-overview-wrapper a:active, n_headline-overview-wrapper a:focus, .n_headline-overview-wrapper a:hover, .n_headline-wrapper-reqular a:active, .n_headline-wrapper-reqular a:focus, .n_headline-wrapper-reqular a:hover, .n_headline-wrapper a:active, .n_headline-wrapper a:focus, .n_headline-wrapper a:hover, .n_highlight.a:active, .n_highlight.a:focus, .n_highlight.a:hover {
    color: #0162CD;
    text-decoration: underline;
}
.n_headline-overview-wrapper a {
	text-decoration: underline;
}
.n_headline .n_highlight {
    font-weight: bold;
    padding-left: 8px;
}
.n_headline .n_datum {
    color: #999999;
    display: inline;
    padding-left: 2px;
    white-space: nowrap;
}
.n_headline .n_datum-uitgelicht {
    color: #999999;
    display: inline;
    float: left;
    white-space: nowrap;
}
.n_headline p {
	margin-top: 0px;
    margin-top: 5px\0;
	*padding-left: 12px;
	*margin-bottom: 0;
	*margin-top: 0px;
    padding-left: 8px;
    width: 260px;
}
.n_nieuws-column-container {
    margin-top: 10px;
}
.n_headline .n_img {
    cursor: pointer;
    padding-left: 8px;
    padding-top: 5px;
}
.n_nieuws-column-header {
    background-color: #F7FAF8;
    border-bottom: 1px solid #E3EEE8;
    clear: both;
    color: #000000;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    height: 23px;
    padding-left: 30px;
    padding-top: 4px;
    width: 557px;
}
.n_home-error {
    float: left;
    font-style: italic;
    margin-bottom: 10px;
    margin-left: 5px;
    padding: 10px 0 0;
    width: 100%;
}
.n_column-footer {
    position: relative;
    left: 8px;
    
}
.n_paragraaf th, .n_paragraaf td {
    padding: 0.4em 0.9em 0.4em 0.5em !important;
}
#n_detailpage {
	padding: 2px;
}
.n_paragraaf td {
    background-color: #F5F5F5;
    font-size: 11px !important;
    word-wrap: break-word;
}
.n_paragraaf td ul {
    line-height: inherit;
    list-style-position: outside !important;
    list-style-type: square !important;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 10px 0 0;
}
.n_paragraaf td ul li {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    font-size: 11px !important;
    line-height: inherit;
    padding-left: 0 !important;
}
.n_paragraaf table {
    border-collapse: separate;
    border-spacing: 0.2em;
    margin: 0 0 3em -0.2em;
    text-align: left;
    width: 100%;
}
.n_paragraaf table a:hover, .n_paragraaf li a:hover {
    color: #0162CD;
    text-decoration: underline;
}
.n_paragraaf {
    clear: both;
    margin: 1em 0;
}
.n_paragraaf a {
	text-decoration: underline;
}
.n_paragraaf a.external {
	background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/external.png");
	background-repeat: no-repeat;
	background-position: 0 6px;
	background-position: 0 4px\9;
	padding-left: 11px;
	margin-bottom: 0px;
}
div[name="lead"] {
    margin-bottom: 5px;
}
.n_nieuws-tray {
    border: 1px solid #DFECE4;
    margin-bottom: 20px;
    overflow: hidden;
}
.n_nieuws-trayheader {
    background-color: #F7FAF8;
    clear: both;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: 28px;
    line-height: 25px;
    overflow: hidden;
}
.n_nieuws-header {
    padding-left: 5px;
}
.n_nieuws-loading-center {
    margin-left: 295px;
}
.data-cloak {
    display: none;
}
.n_img-left {
    cursor: pointer;
    float: left;
    margin: 4px 9px 7px 0;
}
.n_img-right {
    cursor: pointer;
    float: right;
    margin: 4px 0 7px 9px;
}
.newsArticle .n_img-center {
    cursor: pointer;
    display: block;
    margin-bottom: 0.7em;
    margin-top: 0.7em;
}
.readMoreUitgelicht {
    clear: left;
    float: left;
}
.readMoreUitgelicht a {
	padding-right: 5px;
    width: 100%;
}
.uitgelicht-aligment {
    float: left;
    *float: none;
}
#reageren {
    display: none;
    margin-top: 40px;
}
.h2-underline {
    border-bottom: 1px solid #DEEBE3;
    padding-bottom: 10px;
    width: 425px;
}
.n_hidden-text {
    float: left;
}
.n_removeComment {
    display: none;
}
.n_reply-show-delete {
    float: right;
    font-weight: bold;
    left: -20px;
    position: relative;
    text-decoration: none;
    top: 10px;
}
.n_readMore {
    clear: both;
    display: block;
    float: left;
    width: 200px;
}
.n_error {
    float: left;
    font-style: italic;
    margin-bottom: 30px;
    padding: 10px 0 0;
    width: 100%;
}
.n_nieuws-loading-center-detail {
    margin-left: 205px;
}
.n_news-rechter-portlets {
    background-color: #DEEBE3;
    font-weight: bold;
    height: auto !important;
    min-height: 15px;
    padding: 4px 4px 4px 6px;
}
.n_reply {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DEEBE3;
    float: left;
    padding: 0 0 10px;
    word-wrap: break-word;
}
.n_reply_text {
    clear: both;
    float: left;
    margin-bottom: 0;
    padding: 6px 0;
    width: 430px;
}
.n_reply_name {
    float: left;
    font-weight: bold;
    padding-top: 10px;
}
.n_reply_name a {
    color: #000000 !important;
}
.n_reply_date {
    clear: both;
    color: #858585;
    font-size: 9px;
    margin: 0;
    padding: 0;
}
.n_comment-container {
    width: 425px;
}
.n_comments-comment {
    float: left;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
.n_commment {
    clear: both;
    float: left;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}
.n_comment-author {
    font-weight: bold;
    padding-bottom: 4px;
}
.n_comments-comment li .destroy {
    bottom: 0;
    color: #A88A8A;
    display: none;
    float: right;
    font-size: 22px;
    height: 40px;
    left: -50px;
    margin: auto 0;
    overflow: hidden;
    position: relative;
    right: 0;
    top: -50px;
    transition: all 0.2s ease 0s;
    width: 40px;
}
.pagination {
    clear: both;
    float: left;
    font-size: 100%;
    margin-top: 12px;
    padding-left: 10px;
}
.pagination a {
    border-left: 1px solid #000000;
    color: #164273;
    cursor: pointer;
    text-decoration: none;
}
.pagination a, .pagination span {
    display: block;
    float: left;
    padding-right: 5px;
    text-decoration: underline;
}
.pagination .current {
    border-left: 1px solid #000000;
    color: #000000;
}
.pagination .prev {
    border-left: medium none !important;
}
.n_comments-comment li .destroy:hover {
    position: relative;
    text-shadow: 0 0 1px #000000, 0 0 10px rgba(199, 107, 107, 0.8);
    transform: scale(1.3);
}
.n_comments-comment li .destroy:after {
    content: "✖";
}
.n_comments-comment li:hover .destroy {
    display: block;
    position: relative;
}
button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    color: inherit;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
#news {
    width: 445px;
}
.n_comment-button {
    border: medium none;
    clear: both;
    float: left;
    font-weight: bold;
    height: 30px;
    width: 222px;
}
.n_comment-reaction {
    border: 1px solid #535353 !important;
    clear: both;
    float: left;
    height: 65px;
    padding: 5px;
    width: 413px;
}
.n_comment-reply {
    float: left;
    width: 435px;
}
.n_input_button {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}
.n_input_button input:hover {
    background-color: #767676;
    color: #FFFFFF;
}
.n_input_button input {
    background: none repeat scroll 0 0 #F3F5F6;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
    height: 22px;
    padding: 1px 10px 2px;
}
.n_submit_regular {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #000000;
    cursor: pointer;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    margin-right: 10px;
}
.n_comment-loader {
    background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/ajax-loader.gif");
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
    z-index: 20;
}
.n_reply-loading-wrapper {
    float: left;
    margin: 0;
    padding: 0;
}
#delete-dialog-container {
    width: 310px;
}
.lead {
    font-weight: bold;
}
.n_detail-img-left {
    float: left;
    margin: 4px 7px 0 0;
}
.n_detail-img-right {
    float: left;
    margin: 4px 0 0 7px;
}
small, sub, sup {
    font-size: 0.83em;
}
sub {
    vertical-align: sub;
}
sup {
    vertical-align: super;
}
.n-nieuws-publicatie-datum {
    color: #858585;
    float: left;
    font-style: italic;
    margin-bottom: 35px;
    margin-top: 10px;
    clear: both;
}
.bron-vermelding {
    color: #535353;
    float: right;
    font-size: 9px;
    font-style: normal;
    margin-right: 10px;
    width: 21%;
    text-align: right;
    word-wrap: break-word;
}
.bijschrift {
    color: #000000;
    font-size: 11px;
    font-style: italic;
    width: 72%;
    float: left;
    word-wrap: break-word;
}
.afbeelding-beschrijving {
    clear: both;
    margin-right: 9px;
    text-align: left;
}
.afbeelding-beschrijving .bron-vermelding {
    clear: both;
    color: #535353;
    display: inline;
    float: right;
    font-size: 9px;
    font-style: normal;
    margin-right: 0;
    text-align: right;
    width: 24%;
    word-wrap: break-word;
}
.downloadlijst ul {
	list-style-position: outside !important;
    list-style-type: none !important;
    margin-left: 0;
    padding-left: 0px;
}
.downloadlijst li {
	line-height: 150%;
	padding-left: 10px;
	margin-bottom: 2px;
	margin-left: 0px;
	word-wrap: break-word;
	background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0 4px;
	background-color: transparent;
}

.downloadlijst li a.external {
	padding-left: 0px !important;
	background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif") !important;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: -8px 4px;
	background-color: transparent;
}

.downloadlijst li a {
    text-decoration: underline;
}
.downloadlijst li a:hover {
    color: #0162CD;
    text-decoration: underline;
}
.linklijst ul {
    margin-left: 0;
    padding-left: 0px;
	list-style-position: outside !important;
    list-style-type: none !important;
}
.linklijst li {   
	line-height: 150%;
	padding-left: 0px;
	margin-bottom: 2px;
	margin-left: 0px;
	word-wrap: break-word;
	background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif");
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0 4px;
	background-color: transparent;
}
.linklijst li a {
    text-decoration: underline;
    padding-left: 11px;
	*background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif");
	*background-attachment: scroll;
	*background-repeat: no-repeat;
	*background-position: 0 2px;
}

.linklijst li a:hover {
    color: #0162CD;
    text-decoration: underline;
}
#serieOverview {
    display: none;
}
#photoSerie {
    display: none;
}
#zieOokPortlet {
    display: none;
}
.n_news-portlet {
    border: 1px solid #DEEBE3;
    margin-left: 7px;
    margin-top: 16px;
    width: 200px;
}
.n_news-portlet-header {
    background-color: #DEEBE3;
    font-weight: bold;
    height: auto !important;
    min-height: 30px;
    padding: 4px 4px 4px 10px;
}
.n_news-portlet ul {
    list-style: none inside none;
    padding-left: 8px;
    padding-top: 8px;
    *list-style-position: none;
}
.n_detail_headline {
	line-height: 150%;
	background: url('/irj/portalapps/sap.portal.ui.nieuws/images/blt_standaard.gif');
	background-repeat: no-repeat;
	background-position: 0px 4px;
	padding-left:16px;
	margin-bottom: 8px;
	-moz-hyphens: auto;
	word-wrap: break-word;
}

.n_detail_headline .datum {
    color: #999999;
    display: inline;
    padding-left: 2px;
    white-space: nowrap;
}
.n_detail_headline .datum-serie {
    color: #999999;
    padding-left: 2px;
    white-space: nowrap;
}
.n_detail-headline-wrapper {
    display: inline-block;
    width: 170px;
}
.n_detail-headline-wrapper a:hover {
    color: #0162CD;
    text-decoration: underline;
}
.n_detail-column-footer {
    margin: 0 3px 3px;
    padding: 0 5px 5px;
}
.n_detail-column-footer a {
    color: #164273 !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.n_detail-column-footer a:hover {
	color: #010101 !important;
	text-decoration: none !important;
}
.n_detail-imgContainer {
    cursor: pointer;
    float: left;
    height: 57px;
    margin: 3px;
    width: 57px;
}
.n_headlines-regular {
    float: left;
    padding-left: 8px;
    padding-right: 6px;
    width: 100%;
}
.n_headline-wrapper-reqular {
    display: inline-block;
}
.n_headline-wrapper-reqular a {
    *padding-left: 8px;
}
.n_detail-imgContainer-more {
    border: 1px solid #DEEBE3;
    cursor: pointer;
    float: left;
    height: 56px;
    margin: 3px;
    width: 56px;
}
.n_detail-foto-container {
    overflow: hidden;
    padding-left: 5px;
    padding-top: 4px;
}
.n_thumbnail-wrapper {
    float: left;
    margin: 6px;
    overflow: hidden;
    padding: 0;
}
.n_selected-thumb {
    border: 2px solid;
    margin: 4px 3px 2px 4px;
}
.carousel-wrapper-info {
    background-color: #CCCCCC;
    clear: right;
    *clear: none;
    float: left;
    width: 600px;
	min-height: 22px; 
   	height:auto !important; 
   	height: 22px;
}
.content_main {
    margin-right: 16px !important;
}
#nieuws-overzicht-filter {
    background-color: #DEEBE3;
    margin-left: 10px;
    margin-top: 35px;
    width: 201px;
}
.containerOldOverview {
    margin-left: 10px;
}
#nieuws-overzicht-filter .nieuws-overzicht-container {
    padding: 8px;
}
#nieuws-overzicht-filter select {
    float: left;
}
#nieuws-overzicht-filter .nieuws-overzicht-titel {
    font-weight: bold;
    padding-bottom: 4px;
}
#nieuws-overzicht-filter input {
    background: none repeat scroll 0 0 #F3F5F6;
    border: 1px solid #000000;
    cursor: pointer;
    font-weight: bold;
    height: 22px;
    padding: 1px 10px 2px;
    width: 70px;
}
.n_formatting {
	margin-bottom: 0.5em !important;
}
.n_overview-layout {
	padding-top: 20px;
}
#nieuws-overzicht-filter input:hover {
    background-color: #767676;
    color: #FFFFFF;
}
#nieuws-overzicht-filter .button-wrapper {
    clear: both;
    padding-top: 4px;
}
#n_nieuws-overview-loading {
    left: 160px;
    position: absolute;
    top: 250px;
}
#serie-overview-image {
    float: right;
    height: 195px;
    margin-top: 35px;
    width: 195px;
}
.carousel-moreImages {
    border: 1px solid #DEEBE3;
    height: 55px;
    width: 100%;
}
.carousel-more-text {
    color: #164273;
    display: block;
    font-size: 11px;
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 40px;
}
.carousel-link {
	padding: 0 8px 5px;
}
.carousel-link a {
    color: #164273 !important;
    cursor: pointer;
    text-decoration: underline !important;
}
.carousel-link a:hover {
	color: #010101 !important;
	text-decoration: none !important;
}
.n_news-portlet-foto-header {
    background-color: #DEEBE3;
    font-weight: bold;
    padding: 8px 4px 4px 10px;
}
.n_news-portlet-foto-header h2 {
    margin-bottom: 5px !important;
}
#n_foto-carousel {
    padding-top: 1px !important;
}
.n_foto-background-wrapper {
    background-color: #D9E0E5;
    height: 455px;
    width: 78px;
}
#carousel-serie {
    height: 540px;
    opacity: 0;
    overflow: hidden;
    width: 690px;
}
#carousel-serie input {
    background: none repeat scroll 0 0 #F3F5F6;
    border: 1px solid #000000;
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 22px;
    padding: 1px 10px 2px;
}
#carousel-serie input:hover {
    background-color: #767676;
    color: #FFFFFF;
}

.carousel-previous {
    float: left;
    font-size: 11px;
    margin-right: 42px;
    text-decoration: none;
    color: #000;
}
.carousel-next {
    float: right;
    font-size: 11px;
    text-decoration: none;
    color: #000;
}
.carousel-indicator {
    display: block;
    float: left;
    font-size: 11px;
    margin-bottom: 5px;
    margin-left: 180px;
}
.carousel-caption {
    color: #000000;
    float: left;
    font-size: 11px;
    font-style: italic;
    padding: 4px;
    width: 510px;
    word-wrap: break-word;
    width: 70%;
}
.carousel-source {
    color: #535353;
    float: right;
    font-size: 9px;
    font-style: normal;
    padding: 4px;
    width: 27%;
    text-align: right;
}
.highlighted-photo {
    display: table-cell;
    height: 404px;
    position: relative;
    top: -9px;
    *top: 0px;
    vertical-align: middle;
    width: 600px;
    margin-bottom: 2px;
    *margin-bottom: 0px;
}
.carousel-current {
    display: none;
}
.carousel-loading-icon {
    left: 285px;
    position: relative;
    top: 180px;
}
.carousel-titel {
    text-align: center;
    font-family: Arial,sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    float: right;
    width: 610px;
}
#prev0 {
    left: 11px;
    position: relative;
    top: 9px;
    *top: 26px;
}
#next0 {
    left: -80px;
    position: relative;
    top: 465px;
    *float: left;
}
.disabled {
    cursor: none;
    visibility: hidden;
}
.carousel-button-wrapper {
    float: right;
    margin-top: 10px;
    width: 100%;
}
.carousel-navigation-wrapper {
    margin-left: 90px;
}
.n_vierdelaag-column-footer {
    float: left;
    margin-right: 10px;
    text-decoration: underline !important;
}
.n_footer-wrapper {
    margin-left: 10px;
}
.newsArticle h1 {
    -moz-hyphens: auto;
    word-wrap: break-word;
}
.newsArticle h2 {
    -moz-hyphens: auto;
    word-wrap: break-word;
    clear: none !important;
}
.newsArticle ul {
    list-style-position: inside;
    list-style-type: square;
}
.newsArticle ul li {
	margin-bottom: 0.5em;
}
.newsArticle ol {
    list-style-position: inside;
    list-style-type: decimal;
}
.newsArticle ul ul, .newsArticle ol ul {
    list-style-position: inside;
    list-style-type: circle;
    margin-left: 15px;
}
.newsArticle ol ol, .newsArticle ul ol {
    list-style-position: inside;
    list-style-type: lower-alpha;
    margin-left: 15px;
}
.n_messageSerieTitel {
	font-size: 14px;
	font-weight: 500;
	line-height: 12px;
	margin: 1em 0 0;
	padding: 0;
}

.video-play-button {
    cursor: pointer;
    float: left;
    left: 0;
    padding-left: 8px;
    position: absolute;
    top: -128px;
    top: -140px\0;
    *top: 5px;
}
.newsArticle .video-play-button {
    cursor: pointer;
    float: left;
    left: 39%;
    padding-left: 0 !important;
    position: absolute;
    top: auto !important;
}
.n_image-container {
    left: 0;
    position: relative;
    top: 0;
}
div#videoDownloads a.hide {
    background-image: url("/irj/portalapps/sap.portal.ui.nieuws/images/icon-collapse.png");
}
div#videoDownloads a.show {
    background: url("/irj/portalapps/sap.portal.ui.nieuws/images/icon-expand.png") no-repeat scroll 98% 6px #FFFFFF;
}
div#videoDownloads a {
    color: #000000;
    display: block;
    font-size: 11px;
    padding: 0.2em 20px 0.3em 10px;
    position: relative;
    text-decoration: none !important;
}
.videoStyle {
    border: 1px solid #E1F0F2;
    line-height: 1.5;
    margin-bottom: 8px;
    width: 398px;
}
div#videoDownloads a:hover, div#videoDownloads a.hide {
    background-color: #E9F0F9;
    color: #000000 !important;
}
#serieImage {
	width: 208px !important;
	height: 208px !important;
}
div#videoDownloads .video-icons {
    padding-right: 5px;
    top: 4px;
}
