<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
 /*
        $(document).ready(function(){
            $("#myModal").modal('show');

            // connect to the socket server
            var socket = io.connect();

            // if we get an "info" emit from the socket server then console.log the data we recive
            socket.on('download', function (data) {
                if(data != 100 ) {
                    $('.progress-bar').css('width', data + "%");
                }
            });

        });
        */
    </script>
</head>



<body ng-app="screenApp" ng-controller="EpisodeList">
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Update</h4>
            </div>
            <div class="modal-body">
                <p>Bezig met het installeren van de update</p>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        60%
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleer</button>
                <button type="button" class="btn btn-primary">Installeer</button>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <!-- menu -->
        <div class="col-md-3">
            <ul class="list-group" >
                <li class="list-group-item" ng-repeat="season in seasons">Seizoen {{season}}</li>
            </ul>
        </div>

        <div class="col-md-6">
            <hr />
            <div class="media" ng-repeat="episode in episodes">
                <a href="#" class="pull-left">
                    <img width="200" height="200" ng-src="{{episode.screen}}" class="img-thumbnail" />
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{episode.title}}</h4>
                    <p>{{episode.summary}}</p>
                </div>
                <hr />
            </div>
        </div>
        <div class="col-md-3"></div>



    </div>

<script src="/vendor/angular/angular.min.js"></script>
<script src="/vendor/angular-route/angular-route.min.js"></script>
<script src="js/app.js"></script>
<script src="js/services/showService.js"></script>
<script src="js/controllers/EpisodeController.js"></script>
</body>
</html>