    @font-face {
      font-family: 'Bariol';
      src: url('Bariol_Regular.otf'); /* IE9 Compat Modes */
    }

    .dir {
    	list-style: none;
    	margin-left: -50px;
    }

    .list {
    	margin-left: 60px;
    }

    .list .item {
    	padding: 5px;
    	font-size: 40px;
    }

.pt-perspective {
    height: 100%;
    perspective: 1200px;
    position: relative;
    width: 100%;
}

.pt-page-current, .no-js .pt-page {
    visibility: visible;
    z-index: 1;
}

.pt-page {
    backface-visibility: hidden;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translate3d(0px, 0px, 0px);
    transform-style: preserve-3d;
    visibility: hidden;
    width: 100%;
}


.pt-page-flipOutRight {
    animation: 0.5s ease-in 0s normal both 1 flipOutRight;
    transform-origin: 50% 50% 0;
}
.pt-page-flipInLeft {
    animation: 0.5s ease-out 0s normal both 1 flipInLeft;
    transform-origin: 50% 50% 0;
}
.pt-page-flipOutLeft {
    animation: 0.5s ease-in 0s normal both 1 flipOutLeft;
    transform-origin: 50% 50% 0;
}
.pt-page-flipInRight {
    animation: 0.5s ease-out 0s normal both 1 flipInRight;
    transform-origin: 50% 50% 0;
}
.pt-page-flipOutTop {
    animation: 0.5s ease-in 0s normal both 1 flipOutTop;
    transform-origin: 50% 50% 0;
}
.pt-page-flipInBottom {
    animation: 0.5s ease-out 0s normal both 1 flipInBottom;
    transform-origin: 50% 50% 0;
}
.pt-page-flipOutBottom {
    animation: 0.5s ease-in 0s normal both 1 flipOutBottom;
    transform-origin: 50% 50% 0;
}
.pt-page-flipInTop {
    animation: 0.5s ease-out 0s normal both 1 flipInTop;
    transform-origin: 50% 50% 0;
}

    @-moz-keyframes flipOutRight {
0% {
}
100% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateY(90deg);
}
}
@-moz-keyframes flipInLeft {
0% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateY(-90deg);
}
}
@-moz-keyframes flipOutLeft {
0% {
}
100% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateY(-90deg);
}
}
@-moz-keyframes flipInRight {
0% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateY(90deg);
}
}
@-moz-keyframes flipOutTop {
0% {
}
100% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateX(90deg);
}
}
@-moz-keyframes flipInBottom {
0% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateX(-90deg);
}
}
@-moz-keyframes flipOutBottom {
0% {
}
100% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateX(-90deg);
}
}
@-moz-keyframes flipInTop {
0% {
    opacity: 0.2;
    transform: translateZ(-1000px) rotateX(90deg);
}
}